services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:80"
    environment:
      - POSTGRES_USER=yourUser
      - POSTGRES_PW=changeit
      - POSTGRES_DB=postgres
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    depends_on:
      - postgres

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

  postgres:
    image: postgres:18
    container_name: postgres
    environment:
      - POSTGRES_USER=yourUser
      - POSTGRES_PASSWORD=changeit
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql
      - ./backend/db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=your@email.com
      - PGADMIN_DEFAULT_PASSWORD=your@email.com
    ports:
      - "5050:80"

volumes:
  pgdata:
